<% if @model == 'user' %>
	<h3>"<%= @content %>"でのユーザーの検索結果</h3>
  <%= render 'user/users/index', users: @records %>
<% elsif @model == 'post' %>
	<h3>"<%= @content %>"での投稿の検索結果 </h3>
  <%= render '/user/posts/index', posts: @records %>
<% end %>

