<h5>タグ一覧</h5>
<% tags.each do |tag| %>
  <table>
    <tr>
      <td>
        <%= link_to tag_path(tag.id) do %>
          <h6>・<%= tag.name %></h6>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>